In [1]:
%run scripts/python/standardize.py

In [2]:
miami_pro = pd.read_json('https://opendata.miamidade.gov/resource/8u3a-jyk6.json?$limit=50000')

In [3]:
br_pro = pd.read_json('https://data.brla.gov/resource/wqnv-frwf.json?$limit=50000')

In [5]:
miami_pro.head()

,amount,areacode,commodity,commodityname,country,createdate,linenumber,phone,phoneextension,ponumber,...,term4,term5,term6,term7,term8,term9,unitcost,vendorlocation,vendorname,zipcode
0,71.64,NaN,670,"PLUMBING EQUIPMENT, FIXTURES, AND SUPPLIES",US,2017-01-17T00:00:00,1,NaN,NaN,POID1703628,...,CONTACT: NICK ROBULOCK 786-469-2711,NaN,NaN,NaN,NaN,NaN,62.30,"{'human_address': '{""address"":""PO BOX 680730"",...",LION PLUMBING SUPPLY INC,331680730.0
1,387.36,678.0,75,AUTOMOTIVE SHOP EQUIPMENT AND SUPPLIES,US,2017-01-11T00:00:00,1,421-5683,NaN,POAV1700817,...,NaN,NaN,NaN,NaN,NaN,NaN,2.69,"{'human_address': '{""address"":""PO BOX 409043"",...",GENUINE PARTS CO,303849043.0
2,351.44,305.0,615,"OFFICE SUPPLIES, GENERAL",US,2017-01-04T00:00:00,8,887-7339,NaN,POCC1700185,...,NaN,NaN,NaN,NaN,NaN,NaN,4.95,"{'latitude': '25.846674', 'human_address': '{""...",J & E OFFICE SUPPLIES INC,331662221.0
3,2892.84,305.0,670,"PLUMBING EQUIPMENT, FIXTURES, AND SUPPLIES",US,2017-01-17T00:00:00,12,576-3054,NaN,POWS1705446,...,NaN,NaN,NaN,NaN,NaN,NaN,196.72,"{'latitude': '25.80383', 'human_address': '{""a...",LEHMAN PIPE & PLUMBING SUPPLY INC,33127.0
4,1240.00,NaN,98120,RENTAL OR LEASE OF CONSTRUCTION EQUIPMENT,US,2017-01-18T00:00:00,1,NaN,NaN,POMT1701644,...,STRAIGHT MAST FORKLIFT. THIS ACQUISITION WAS I...,FINALIZED BY TRACK AND GUIDEWAY.,NaN,INVOICE DATES: 12/12/2016 TO 1/08/2017 ...,NaN,EQUIPMENT PART # ...,1240.00,"{'human_address': '{""address"":""PO BOX 409211"",...",SUNBELT RENTALS INC,30384.0

In [6]:
br_pro.head()

,cstctr,cstctr_desc,dept_desc,deptno,dt_qty_ord,dt_qty_um,dt_seq,dt_stock_desc,dt_tot_cost,dt_um_desc,...,vend_cont_name,vend_cont_ph_ext,vend_cont_phone,vend_cont_title,vend_minority_abbr,vend_minority_desc,vend_name_1,vend_name_2,vend_state,vend_zip
0,1200,LIBRARY BOARD OF CONTROL,LIBRARY BOARD OF CONTROL,12,NaN,NaN,NaN,NaN,NaN,NaN,...,JOHN E HIMES,NaN,2.149247e+09,REG SALES MGR,NaN,NaN,ENVISIONWARE INC,NaN,GA,30097
1,1200,LIBRARY BOARD OF CONTROL,LIBRARY BOARD OF CONTROL,12,1.0,EA,1.0,MAINTENANCE AND SUPPORT FOR THE LIBRARY'S ...,6119.25,EACH,...,JOHN E HIMES,NaN,2.149247e+09,REG SALES MGR,NaN,NaN,ENVISIONWARE INC,NaN,GA,30097
2,2010,CITY COURT-ADMINISTRATION,CITY COURT,20,NaN,NaN,NaN,NaN,NaN,NaN,...,CATHY FIELDS,NaN,8.002842e+09,ACCOUNTANT I,NON-M WBE,MINORITY TYPE - NON-MINORITY WBE,BI,BEHAVIORIAL INTERVENTIONS,CO,80301
3,2010,CITY COURT-ADMINISTRATION,CITY COURT,20,400.0,EA,1.0,HOMEGUARD 200 MONITORING SERVICE CHARGE (PER U...,940.00,EACH,...,CATHY FIELDS,NaN,8.002842e+09,ACCOUNTANT I,NON-M WBE,MINORITY TYPE - NON-MINORITY WBE,BI,BEHAVIORIAL INTERVENTIONS,CO,80301
4,2010,CITY COURT-ADMINISTRATION,CITY COURT,20,200.0,EA,2.0,HG206 HOMEGUARD DIGITAL CELL MONITORING SERVIC...,400.00,EACH,...,CATHY FIELDS,NaN,8.002842e+09,ACCOUNTANT I,NON-M WBE,MINORITY TYPE - NON-MINORITY WBE,BI,BEHAVIORIAL INTERVENTIONS,CO,80301

We will assume that input_date (baton rouge) and create_date (miami) are both associated with when the contract was awareded to the contractor

In [24]:
wash_pro = pd.read_csv('Purchase_Orders_in_2017.csv')

In [25]:
wash_pro.head()

,PO_NUMBER,AGENCY_NAME,NIGP_DESCRIPTION,PO_TOTAL_AMOUNT,ORDER_DATE,SUPPLIER,FISCAL_YEAR,OBJECTID
0,PO556681,DISTRICT OF COLUMBIA PUBLIC SCHOOLS,"2009230:COATS, CHEF'S, TWILL, 65% POLYESTER, 3...",259.00,2016-12-20T00:00:00.000Z,Imageone Uniforms,2017,307240
1,PO555053,DISTRICT OF COLUMBIA PUBLIC SCHOOLS,"SUPPLIES, SCHOOL, VARIOUS (NOT OTHERWISE CLASS...",139.11,2016-11-22T00:00:00.000Z,AMERICAN EXPRESS COMPANY,2017,307241
2,PO555053,DISTRICT OF COLUMBIA PUBLIC SCHOOLS,"SUPPLIES, SCHOOL, VARIOUS (NOT OTHERWISE CLASS...",9.53,2016-11-22T00:00:00.000Z,AMERICAN EXPRESS COMPANY,2017,307242
3,PO554803,DISTRICT OF COLUMBIA PUBLIC SCHOOLS,Janitorial Management Services,78.04,2016-11-18T00:00:00.000Z,General Merchandise Supplies,2017,307243
4,PO555102-V2,OFFICE OF ADMINISTRATIVE HEARINGS,POSTAGE STAMPS,30000.00,2016-12-06T00:00:00.000Z,PITNEY BOWES,2017,307244

The Washington dataset is for purchase orders greater than $25000